footer {
  background-color: black;
  margin-top: 200px !important;
  padding: 60px;
}
footer p {
  color: whitesmoke;
  cursor: pointer;
}
/* footer a{
    color: red !important;
} */
footer p:hover {
  color: rgba(249, 122, 105, 1);
}
.row {
  margin-right: 0px;
}
